<!-- Logo -->
<header class="navbar navbar-dark fixed-top bg-dark">
    <a routerLink="" class="navbar-brand logo">NG-Blog</a>
<!-- Navigation -->
  <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseBasic">
    <span class="navbar-toggler-icon"></span>
  </button>
  <nav class="collapse navbar-collapse" id="collapseBasic" [collapse]="!isCollapsed" aria-label="Main Navigation" role="navigation">
    <ul class="nav">
      <li class="nav-item ">
        <a class="nav-link" routerLink="">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="blog">Blog</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="contact">Contact</a>
      </li>
    </ul>
  </nav>
</header>