<div class="main">
  <div class="container">
    <div class="row">
      <h1 class="header-title text-center"> Contact </h1>
      <hr>
        <div class="col-sm-6">
          <form action="" class="contact-form" method="post">
    
              <div class="form-group">
                <input type="text" class="form-control" id="name" name="nm" placeholder="Name" required="" autofocus="">
              </div>
          
              <div class="form-group form_left">
                <input type="email" class="form-control" id="email" name="em" placeholder="Email" required="">
              </div>
          
            <div class="form-group">
                <input type="text" class="form-control" id="phone" onkeypress="return event.charCode >= 48 && event.charCode <= 57" maxlength="10" placeholder="Mobile No." required="">
            </div>
            <div class="form-group">
            <textarea class="form-control textarea-contact" rows="5" id="comment" name="FB" placeholder="Type Your Message/Feedback here..." required=""></textarea>
            <br>
              <button class="btn btn-default btn-send"> Send </button>
            </div>
          </form>
        </div>
    </div>
  </div>
</div>
  