<div class="container main" *ngIf="post">
	<div>
		<label>Title </label> {{post.title}}
	</div>
	<div>
		<label>Post </label> {{post.text}}
	</div>
	<div>
		<label>Author </label> {{post.author}}
	</div>
  <button class="button is-small btn-danger" (click)='deletePost()'>Delete</button>
</div>