<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
<app-header></app-header>
<main>
    <router-outlet></router-outlet>
</main>
<app-footer></app-footer>