<div class="main container">
	<h3>Add Post</h3>
	<div [hidden]="submitted">
		<form (ngSubmit)="onSubmit()">
			<div class="form-group">
		<label for="title">Title</label>
		<input type="text"
					class="form-control" id="title" required [(ngModel)]="post.title"
					name="title">
			</div>
	
			<div class="form-group">
		<label for="text">Your Post</label>
		<textarea class="form-control" id="text" required [(ngModel)]="post.text" name="text"></textarea>
		</div>
		
		<div class="form-group">
		<label for="author">Author</label>
		<input type="text"
					class="form-control" id="author" required [(ngModel)]="post.author"
					name="author">
			</div>
	
			<button type="button" class="btn btn-success">Submit</button>
			<button type="button" routerLink="../" class="btn btn-danger">Cancel</button>
		</form>
	</div>
	
	<div [hidden]="!submitted">
		<h4>You submitted successfully!</h4>
		<button class="btn btn-success" (click)="newPost()">Add</button>
	</div>	
</div>
